body>div {
    width: 100%;
    min-width: 960px;
}

.part {
    width: 960px;
    height: auto;
    /*overflow: hidden;*/
    box-sizing: border-box;
    margin: 0px auto;
}

.part {
    /*background: #fff;*/
    background: #feffff;
    font-family: Verdana;
    font-size: 14pt;
}

.part .part-name {
    background: #8f8;
    font-size: 20pt;
    /*line-height: 50pt;*/
    line-height: 35pt;
    color: black;
    font-weight: 700;
    padding: 10pt;
    padding-left: 20pt;
}

.item {
    padding: 5pt;
}

.item-question {
    background: #bfb;
    /*background: #0af;*/
    /*color: white;*/
    padding: 5pt;
    /*font-weight: bold;*/
    font-size: 16pt;
}

.item-answer {
    /*background: #bfb;*/
    padding: 5pt;
    line-height: 25pt;
    /*font-weight: bold;*/
    /*font-size: 16pt;*/
}


/*span + p {
    display: inline;
}*/

span {
    display: inline;
    /*display: none;*/
}

.label {
    background: red;
    color: white;
}

.status {
    background: yellow;
    color: blue;
    font-weight: bold;
    /*display: none;*/
}


/*
 background: #dfd;
*/